{% extends 'CodeHackBoilerplateBundle:Default:index.html.twig' %}

{% block meta %}
    <meta property="og:title" content="Base og title">
    <meta property="og:description" content="Base og description.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://baseurl.com/">
    <meta property="og:image" content="http://baseurl.com/image/">
{% endblock meta %}

{% block stylesheets %} 
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/codehackcommonassets/css/common.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/codehackcommonassets/css/map.css') }}">
    <link href='http://fonts.googleapis.com/css?family=Bitter:400,400italic,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Quicksand:400,700' rel='stylesheet' type='text/css'>
{% endblock stylesheets %}

{% block content %}
<!--Header-->
<header>
    <div id="header-inner">
        <!--Logo-->
        <a href="/"><h1 id="website-logo">Quick Brick</h1></a>

        <!--Main menu-->
        <nav>
            <ul>
                <li class="nav-item_search-bg"><a href="#">Search</a></li>
                <li class="nav-item_location-bg"><a href="#">Location</a></li>
                <li class="nav-item_flood-bg"><a href="#">Flood</a></li>
                <li class="nav-item_quake-bg"><a href="#">Earth quake</a></li>
                <li class="nav-item_fire-bg"><a href="#">Fire</a></li>
            </ul>
        </nav>

    </div>
</header>

<div id="main_container">
    <section id="map_container">
        <div id="map_canvas"></div>
    </section>
    <div id="content_container">
        <h3>Contribuisci anche tu!</h3>
        <section id="people" class="help-section">
            <h4>Persone</h4>
            <dl class="obtained">
                <dt>Hanno già contribuito</dt>
                <dd>20</dd>
            </dl>
            <dl class="people-definition">
                <dt>infermieri</dt>
                <dd style="float:left">80</dd>
                <dd style="float:right">11</dd>
                <dt>dottori</dt>
                <dd style="float:left">5</dd>
                <dd style="float:right">1</dd>
                <dt>spalatori</dt>
                <dd style="float:left">5</dd>
                <dd style="float:right">5</dd>
                <dt>aiutanti</dt>
                <dd style="float:left">10</dd>
                <dd style="float:right">2</dd>
            </dl>
            <dl class="desired">
                <dt>Ce ne servono</dt>
                <dd>100</dd>
            </dl>

            <!-- METER ORIZZONTALE: impostare il valore percentuale in modo dinamico -->
            <div class="horizontal_meter_container people">
                <div class="horizontal_meter_value people" style="width: 50%">50%</div>
            </div>

        </section>
        <section id="money" class="help-section">
            <h4>Donazioni</h4>
            <dl class="obtained">
                <dt>Hanno già donato</dt>
                <dd>1200 <span>&euro;</span></dd>
            </dl>
            <dl class="money-definition">
                <dt>pasti da</dt>
                <dd style="float:left">100(5&euro;)</dd>
                <dd style="float:right">20(5&euro;)</dd>
                <dt>coperte da</dt>
                <dd style="float:left">100(10&euro;)</dd>
                <dd style="float:right">20(10&euro;)</dd>
                <dt>tenda da</dt>
                <dd style="float:left">10(100&euro;)</dd>
                <dd style="float:right">5(100&euro;)</dd>
            </dl>
            <dl class="desired">
                <dt>Ci servono</dt>
                <dd>2500 <span>&euro;</span></dd>
            </dl>

            <div class="vertical_meter">
                <!-- METER VERTICALE: impostare il valore percentuale in modo dinamico -->
                <div class="vertical_meter_container">
                    <div class="vertical_meter_value" style="height: 25%">25%</div>
                </div>
                <!--Inject the value into the inline-style-->
                <p class="we-rised-text" style="bottom:25%">
                    Abbiamo raccolto<br />
                    <strong>2.000&euro;</strong>
                    <span class="coins-icon"></span>
                </p>
            </div>
            
        </section>
        <section id="materials" class="help-section">
            <h4>Materiali</h4>
            <div class="obtained">
                <div class="percentage-light" data-percent="60">
                    <div class="materiale">Vestiti</div>
                    <span>60 %</span>
                </div>
            </div>

            <div class="obtained">
                <div class="percentage-light" data-percent="20">
                    <div class="materiale">Pentole</div>
                    <span>30 %</span>
                </div>
            </div>

            <div class="desired">
                <div class="percentage-light" data-percent="90">
                    <div class="materiale">Secchi</div>
                    <span>90 %</span>
                </div>
            </div>
        </section>
    </div>
</div>

<footer>
    <div class="footer-inner">
        <p class="call-to-action_text">Contribuisci subito anche tu!</p>
        <p class="call-to-action_link"><a href="#">Aiuta</a></p>
    </div>
</footer>
{% endblock content %}

{% block javascripts %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ asset('bundles/codehackcommonassets/js/vendor/jquery-1.8.2.min.js') }}><\/script>')</script>
    <script src="{{ asset('bundles/codehackcommonassets/js/plugins.js') }}"></script>
    <script src="{{ asset('bundles/codehackcommonassets/js/main.js') }}"></script>
    <script src="{{ asset('bundles/codehackcommonassets/js/vendor/jquery.easy-pie-chart.js') }}"></script>
    <script src="{{ asset('bundles/codehackcommonassets/js/vendor/excanvas.js') }}"></script>
    <script src="{{ asset('bundles/codehackcommonassets/js/vendor/jquery.ui.map.js') }}"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCu5MGJH3YE014bbjfhfjD0gE9KBr_6M7c&sensor=true"></script>

    <!-- SOCKET IO -->
    <script src="http://10.1.89.15:8001/socket.io/socket.io.js"></script>
    <script src="http://10.1.89.15:8001/js/Player.js"></script>
    <!-- <script src="{{ asset('bundles/codehackcommonassets/js/default.js') }}"></script> -->
{% endblock javascripts %}

{% block analytics_js %}
    {#
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
        var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
    #}
{% endblock analytics_js %}
